@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Momo+Trust+Display&family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  

}
/** {
  outline: 1px solid red !important;
}*/

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  
}

a{
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
}

